<footer>
  <div class="icon-container">
    <a href="https://github.com/joshrazon/hello-japan"><i class="fab fa-github"></i></a>
    
  </div>
  <p><em>&copy; Copyright 2020. All rights reserved</em></p>
</footer>