<footer>
  <div class="icon-container">
    <a href="https://codepen.io/joshrzn"><i class="fab fa-codepen"></i></a>
    <a href="https://github.com/joshrazon"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/joshua-razon-a4a07314a/"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <p><em>&copy; Copyright 2020. All rights reserved</em></p>
</footer>