<footer>
  <div class="icon-container">
    <a href=""><i class="fab fa-codepen"></i></a>
    <a href="https://github.com/joshrazon"><i class="fab fa-github"></i></a>
    <a href=""><i class="fab fa-linkedin-in"></i></a>
  </div>
  <p><em>&copy; Copyright 2020. All rights reserved</em></p>
</footer>