<nav>
  <a href="/index2"><img src="./img/JPT.ico" alt="JP Tours Icon" height="50" width="50"></a>
   
  <ul>
    <li></li>
    <li><a href="/group-tours">Group Tours</a></li>
    <li><a href="/subscribe">Subscribe</a></li>
    <li><a href="/team">About Us</a></li>
  </ul>
</nav>