<nav>
<<<<<<< HEAD
  <a href="/"><img src="./img/JPT.ico" alt="JP Tours Icon" height="50" width="50"></a>
  
  <input type="checkbox" id="toggle"/>
  <label for="toggle">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
 
=======
  <a href="/"><img src="/img/JPT.ico" alt="JP Tours Icon" height="50" width="50"></a>
>>>>>>> 1f8cca775faedf9d2391816bbd6266fcde500091
   
  <ul>
    <li><a href="/group-tours">Group Tours</a></li>
    <li><a href="/subscribe">Subscribe</a></li>
    <li><a href="/team">About Us</a></li>
  </ul>
</nav>