/* Reset */
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/gallery-bg.jpg);
  background-position: bottom;
  background-size: cover;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
}

nav img {
  margin-left: 3rem;
}

ul {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(236, 236, 236);
  list-style-type: none;
}

ul li {
  margin-right: 2rem;
  font-size: 1.3rem;
}

ul li:hover {
  cursor: pointer;
  color: rgb(212, 2, 2);
}

a,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

a:hover {
  color: rgb(212, 2, 2);
}

/* Main */
fieldset {
  /* Reset */
  border: none;
  
  display: flex;
  flex-direction: column;
  
  font-family: 'Patua One', cursive;
  font-size: calc(18px + (27.2 - 18) * ((100vw - 300px) / (1920 - 300)));
  color: white;
}

fieldset label {
  padding-top: 1em;
}

fieldset button {
  margin-top: 1.4em;
  align-self: center;

  padding: 10px 15px;
  background-color: black;
  border: 1px solid white;
  letter-spacing: 1px;
  color: white;
  border-radius: 4px;
  font-size: 1.3rem;
  transition: all .3s;
}

fieldset button:hover {
  background-color: black;
  color: #00c220;
  border: 1px solid #00c220;
  cursor: pointer;
}

fieldset button:active {
  transform: scale(.9);
}

fieldset input, fieldset select {
  max-width: 30ch;
  padding: 15px 10px;
  font-size: 1.2rem;
}

legend {
  text-align: center;
  margin: auto;
  font-size: 2.1rem;
  font-weight: 700;
  padding-top: 1em;
  max-width: 30ch;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: serif;
}

.flex-container {
  height: 70vh;
  width: 70%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5),	rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;
}

.subscribed {
  font-size: 24px;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exp-img {
  display: flex;
}
.exp-img img {
  max-width: 100%;

}

.exp-text {
  align-self: stretch;
  justify-self: stretch;
  padding: .5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #132959;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

.exp-text p {
  max-width: 40ch;
  padding-top: 1em;
  font-size: 19.2px;
}

.exp-container-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

/* Button Styles */
.exp-text button:hover {
  background-color: rgb(212, 2, 2);
}

.bg-wht {
  background-color: #EBEFF4;
  color: #132959;
}

.btn-wht {
  align-self: flex-start;
  margin-top: 1em;
  border: 2px solid rgb(212, 2, 2);
  border-radius: 4px;
  padding: .4em .8em;
  background-color: #F4F5F9;
  font-size: 1.7rem;
  color: #132959;
  transition: all .3s;
}

.btn-wht:hover {
  color: #F4F5F9;
  cursor: pointer;
}

.btn-wht:active {
  transform: scale(0.9);
}

/* Footer */
footer, .push {
  height: 100px;
}

footer {
  min-height: 100px;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #132959;
  color: rgb(218, 218, 218);
  text-align: center;
}

.icon-container {
  font-size: 1.8rem;
  letter-spacing: .8em;
}

footer p {
  padding-top: .6em;
  color: rgb(139, 139, 139);
}

footer a:link, footer a:visited {
  color: #EBEFF4;
}

@media(max-width: 1130px) {
  .container {
    margin-top: 2em;
  }

  .exp-text h2 {
    margin: 0;
  }

  .exp-container-reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media(max-width: 600px) {
  .exp-text{
    font-size: 24px;
  }

  .exp-text p {
    font-size: 16px;
  }

  .btn-wht {
    font-size: 19px;
  }
}