<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./css/subscribe.css">
    <script src="./js/sublist.js" defer></script>
    <title>JP Tours</title>
  </head>
  <body>
    <%- include('../partials/nav'); %>

    <div class="hero">
      <div class="flex-container">
        <div class="subscribed">
          <h2>Subscribers List</h2>
          <ul id="subsList">
          </ul>
        </div>
      </div>
    </div>
    
    <%- include('../partials/footer'); %>
  </body>
</html>