<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./css/gallery.css">
    <script src="./js/gallery.js" type="module"></script>
    <title>JP Tours</title>
  </head>
  <body>
    <%- include('../partials/nav'); %>

    <div class="container">
      <div class="deck">
        <!-- <div class="card-outer">
          <div class="card img1"></div>
          <div class="card-text">
            <h3>Sakura Bridge</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia velit odit exercitationem saepe tempore quibusdam.</p>
          </div>
          <div class="card-btn">
            <button>Tours & Pricing</button>
          </div>
        </div>
        <div class="card-outer">
          <div class="card img2"></div>
          <div class="card-text">
            <h3>Nagoya District</h3>
            <p>Lorem ipsum, dolor sit consectetur amet consectetur adipisicing elit. Quidem necessitatibus reiciendis a perferendis eos quam.</p>
          </div>
          <div class="card-btn">
            <button>Tours & Pricing</button>
          </div>
        </div>
        <div class="card-outer">
          <div class="card img3"></div>
          <div class="card-text">
            <h3>Shinji Lake</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laudantium perspiciatis! Vero molestias provident ipsum!</p>
          </div>
            <div class="card-btn">
            <button>Tours & Pricing</button>
          </div>
        </div>
        <div class="card-outer">
          <div class="card img4"></div>
          <div class="card-text">
            <h3>Tokyo, Japan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laudantium perspiciatis! Vero molestias provident ipsum!</p>
          </div>
            <div class="card-btn">
            <button>Tours & Pricing</button>
          </div>
        </div>
        <div class="card-outer">
          <div class="card img5"></div>
          <div class="card-text">
            <h3>Kyoto, Japan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laudantium perspiciatis! Vero molestias provident ipsum!</p>
          </div>
            <div class="card-btn">
            <button>Tours & Pricing</button>
          </div>
        </div>
        <div class="card-outer">
          <div class="card img6"></div>
          <div class="card-text">
            <h3>Higashiyama Ward</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, laudantium perspiciatis! Vero molestias provident ipsum!</p>
          </div>
            <div class="card-btn">
            <button>Tours & Pricing</button>
          </div>
        </div> -->
      </div>
    </div>

    <%- include('../partials/footer'); %>
  </body>
</html>