<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="./css/gallery.css">
    <title>JP Tours</title>
  </head>
  <body>

    <%- include('../partials/nav'); %>
    <%- include('../partials/footer'); %>
  </body>
</html>